<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="archfx.com.epidermicare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="EpidemiCare"
        android:roundIcon="@drawable/splash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.Login"
            android:label="EpidemiCare">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.StatusActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_status"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.ProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_profile"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.ReportActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_report"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.ConfirmActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_confirm"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.SignUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>